<hr>
<div class="thread">
    <div class="op-container">
        <div class="post op">
            <a name="<%= thread.openingPost.displayNumber %>"></a>

            <% if (thread.openingPost.attachedFile) { %>
                <div class="file">
                    <div class="fileText">
                        File:
                        <a
                            target="_blank"
                            href="/files/<%= board.slug %>/src/<%= thread.openingPost.attachedFile.path %>"
                        ><%= thread.openingPost.attachedFile.path %></a>
                        (<%= thread.openingPost.attachedFile.size %><% if (thread.openingPost.attachedFile.isImage) { %>, <%= thread.openingPost.attachedFile.width %>x<%= thread.openingPost.attachedFile.height %><% } %>)
                    </div>
                    <% if (thread.openingPost.attachedFile.thumbnailPath) { %>
                        <a
                            class="fileThumb"
                            href="/files/<%= board.slug %>/src/<%= thread.openingPost.attachedFile.path %>"
                            target="_blank"
                        >
                            <img
                                src="/files/<%= board.slug %>/thumb/<%= thread.openingPost.attachedFile.thumbnailPath %>"
                                alt="<%= thread.openingPost.attachedFile.size %>"
                                style="height: <%= thread.openingPost.attachedFile.thumbnailHeight %>px; width: <%= thread.openingPost.attachedFile.thumbnailWidth %>px;"
                                loading="lazy"
                            >
                        </a>
                    <% } %>
                </div>
            <% } %>
            <label class="postInfo">
                <input type="checkbox" name="delete" value="<%= thread.openingPost.displayNumber %>">
                <span class="subject"><%= thread.openingPost.subject %></span>

                <% if (thread.openingPost.tripcode) { %>
                    <%- parseTripcode(thread.openingPost.tripcode, thread.openingPost.isAdmin) %>
                <% } else { %>
                    <% if (!thread.openingPost.isAdmin) { %><span class="name"><%= thread.openingPost.name %></span><% } else { %><span class="admin-name" title="Highlight posts by Moderators">##&nbsp;<%= thread.openingPost.name %></span><% } %>
                <% } %>

                <span class="dateTime"><%= thread.openingPost.createdAt %></span>
            </label>
            <a
                class="postNum"
                <% if (pageMode === 'BOARD') { %>href="/<%= board.slug %>/res/<%= thread.openingPost.displayNumber %>#<%= thread.openingPost.displayNumber %>"<% } %>
                <% if (pageMode === 'THREAD') { %>onclick="insert('posting_form', '>><%= thread.openingPost.displayNumber %>');" <% } %>
                <% if (pageMode === 'THREAD') { %>style="cursor: pointer;" <% } %>
                <% if (pageMode === 'THREAD') { %>title="Reply on this post" <% } %>
            >
                No. <%= thread.openingPost.displayNumber %>
            </a>

            <div class="reply-link">
                <% if (session) { %>
                    &nbsp;&nbsp;
                    <b style="color: red; text-decoration: underline">IP: <%= thread.openingPost.ip %></b>
                    &nbsp;
                    <button
                        type="submit"
                        form="removeCommentForm"
                        name="payload"
                        value="{&quot;mode&quot;:&quot;ONLY_COMMENT&quot;,&quot;commentId&quot;:&quot;<%= thread.openingPost.id %>&quot;,&quot;ip&quot;:&quot;<%= thread.openingPost.ip %>&quot;,&quot;redirectAfterDeletion&quot;:&quot;/<%= board.slug %>&quot;}"
                    >
                        Delete this comment
                    </button>
                    <button
                        type="submit"
                        form="removeCommentForm"
                        name="payload"
                        value="{&quot;mode&quot;:&quot;ONLY_FILE&quot;,&quot;commentId&quot;:&quot;<%= thread.openingPost.id %>&quot;,&quot;ip&quot;:&quot;<%= thread.openingPost.ip %>&quot;,&quot;redirectAfterDeletion&quot;:&quot;/<%= board.slug %><% if (pageMode === 'THREAD') { %>/res/<%= thread.openingPost.displayNumber %><% } %>&quot;}"
                    >
                        Delete this file
                    </button>
                    <button
                        type="submit"
                        form="removeCommentForm"
                        name="payload"
                        value="{&quot;mode&quot;:&quot;ALL_BY_IP&quot;,&quot;commentId&quot;:&quot;<%= thread.openingPost.id %>&quot;,&quot;ip&quot;:&quot;<%= thread.openingPost.ip %>&quot;,&quot;redirectAfterDeletion&quot;:&quot;/<%= board.slug %>&quot;}"
                    >
                        Delete all comments from this IP
                    </button>
                    [<a target="_blank" href="/admin/ban/new?ip=<%= thread.openingPost.ip %>">Ban this IP</a>]
                <% } %>
                <% if (pageMode === 'BOARD') { %>[<a href="/<%= board.slug %>/res/<%= thread.openingPost.displayNumber %>">Reply</a>]<% } %>
            </div><br>

            <% if (pageMode === 'BOARD') { %>
                <blockquote class="post-message"><%- helperCollapseText(thread.openingPost.comment, board.slug, thread.openingPost.displayNumber, thread.openingPost.displayNumber) %></blockquote>
            <% } else { %>
                <blockquote class="post-message"><%- thread.openingPost.comment %></blockquote>
            <% } %>

            <% if (thread.omittedPosts) { %>
                <% if (thread.omittedPosts.needToDisplay) { %>
                    <span class="omitted-posts"><%= thread.omittedPosts.comments %> replies and <%= thread.omittedPosts.files %> files omitted. <a
                                href="/<%= board.slug %>/res/<%= thread.openingPost.displayNumber %>">Click here</a> to view them.</span>
                <% } %>
            <% } %>
        </div>
    </div>

    <% thread.replies.forEach(reply => { %>
        <div class="reply-container">
            <div class="side-arrows">&gt;&gt;</div>
            <div class="post reply">
                <a name="<%= reply.displayNumber %>"></a>

                <label class="postInfo">
                    <input type="checkbox" name="delete" value="<%= reply.displayNumber %>">
                    <span class="subject"><%= reply.subject %></span>

                    <% if (reply.tripcode) { %>
                        <%- parseTripcode(reply.tripcode, reply.isAdmin) %>
                    <% } else { %>
                        <% if (!reply.isAdmin) { %><span class="name"><%= reply.name %></span><% } else { %><span class="admin-name" title="Highlight posts by Moderators">##&nbsp;<%= reply.name %></span><% } %>
                    <% } %>

                    <span class="dateTime"><%= reply.createdAt %></span>
                </label>

                <a
                    class="postNum"
                    <% if (pageMode === 'BOARD') { %>href="/<%= board.slug %>/res/<%= thread.openingPost.displayNumber %>#<%= reply.displayNumber %>"<% } %>
                    <% if (pageMode === 'THREAD') { %>onclick="insert('posting_form', '>><%= reply.displayNumber %>');" <% } %>
                    <% if (pageMode === 'THREAD') { %>style="cursor: pointer;" <% } %>
                    <% if (pageMode === 'THREAD') { %>title="Reply on this post" <% } %>
                >
                    No. <%= reply.displayNumber %>
                </a>

                <% if (session) { %>
                    &nbsp;&nbsp;
                    <b style="color: red; text-decoration: underline">IP: <%= reply.ip %></b>
                    &nbsp;
                    <button
                            type="submit"
                            form="removeCommentForm"
                            name="payload"
                            value="{&quot;mode&quot;:&quot;ONLY_COMMENT&quot;,&quot;commentId&quot;:&quot;<%= reply.id %>&quot;,&quot;ip&quot;:&quot;<%= reply.ip %>&quot;,&quot;redirectAfterDeletion&quot;:&quot;/<%= board.slug %><% if (pageMode === 'THREAD') { %>/res/<%= thread.openingPost.displayNumber %><% } %>&quot;}"
                    >
                        Delete this comment
                    </button>
                    <button
                            type="submit"
                            form="removeCommentForm"
                            name="payload"
                            value="{&quot;mode&quot;:&quot;ONLY_FILE&quot;,&quot;commentId&quot;:&quot;<%= reply.id %>&quot;,&quot;ip&quot;:&quot;<%= reply.ip %>&quot;,&quot;redirectAfterDeletion&quot;:&quot;/<%= board.slug %><% if (pageMode === 'THREAD') { %>/res/<%= thread.openingPost.displayNumber %><% } %>&quot;}"
                    >
                        Delete this file
                    </button>
                    <button
                            type="submit"
                            form="removeCommentForm"
                            name="payload"
                            value="{&quot;mode&quot;:&quot;ALL_BY_IP&quot;,&quot;commentId&quot;:&quot;<%= reply.id %>&quot;,&quot;ip&quot;:&quot;<%= reply.ip %>&quot;,&quot;redirectAfterDeletion&quot;:&quot;/<%= board.slug %><% if (pageMode === 'THREAD') { %>/res/<%= thread.openingPost.displayNumber %><% } %>&quot;}"
                    >
                        Delete all comments from this IP
                    </button>
                    [<a target="_blank" href="/admin/ban/new?ip=<%= reply.ip %>">Ban this IP</a>]
                <% } %>

                <% if (reply.attachedFile) { %>
                    <div class="file">
                        <div class="fileText">
                            File:
                            <a
                                target="_blank"
                                href="/files/<%= board.slug %>/src/<%= reply.attachedFile.path %>"
                            ><%= reply.attachedFile.path %></a>
                            (<%= reply.attachedFile.size %><% if (reply.attachedFile.isImage) { %>, <%= reply.attachedFile.width %>x<%= reply.attachedFile.height %><% } %>)
                        </div>
                        <% if (reply.attachedFile.thumbnailPath) { %>
                            <a
                                class="fileThumb"
                                href="/files/<%= board.slug %>/src/<%= reply.attachedFile.path %>"
                                target="_blank"
                            >
                                <img
                                    src="/files/<%= board.slug %>/thumb/<%= reply.attachedFile.thumbnailPath %>"
                                    alt="<%= reply.attachedFile.size %>"
                                    style="height: <%= reply.attachedFile.thumbnailHeight %>px; width: <%= reply.attachedFile.thumbnailWidth %>px;"
                                    loading="lazy"
                                >
                            </a>
                        <% } %>
                    </div>
                <% } %>

                <% if (pageMode === 'BOARD') { %>
                    <blockquote class="post-message"><%- helperCollapseText(reply.comment, board.slug, thread.openingPost.displayNumber, reply.displayNumber) %></blockquote>
                <% } else { %>
                    <blockquote class="post-message"><%- reply.comment %></blockquote>
                <% } %>
            </div>
        </div>
    <% }); %>
</div>
<br clear="left">