<fieldset class="admin-form">
    <legend><%= args.formDescription %></legend>
    [<a href="<%= args.formBackAddress %>"><%- LOCALE.views.constants.goBack %></a>]
    <form action="<%= args.formHandler %>" method="post">
        <table class="tori-post-form" width="1%">
            <tr>
                <td><%= LOCALE.views.components.userForm.username %></td>
                <td>
                    <input
                        name="username"
                        type="text"
                        tabindex="1"
                        size="32"
                        required
                        <% if (args.formMode !== 'CREATE') { %>value="<%= args.formData.username %>" <% } %>
                    >
                </td>
            </tr>
            <tr>
                <td><%= LOCALE.views.components.userForm.email %></td>
                <td>
                    <input
                        name="email"
                        type="email"
                        tabindex="1"
                        size="32"
                        required
                        <% if (args.formMode !== 'CREATE') { %>value="<%= args.formData.email %>" <% } %>
                    >
                </td>
            </tr>
            <tr>
                <td><%= LOCALE.views.components.userForm.role %></td>
                <td>
                    <% if (args.formMode === 'CREATE') { %>
                        <select name="role" tabindex="1" required>
                            <option value="MODERATOR" selected><%= LOCALE.views.components.userForm.moderator %></option>
                            <option value="ADMINISTRATOR"><%= LOCALE.views.components.userForm.administrator %></option>
                        </select>
                    <% } else if (args.formData.id !== session.id) { %>
                        <select name="role" tabindex="1" required>
                            <option value="MODERATOR" <% if (args.formData.role === 'MODERATOR') { %>selected<% } %>><%= LOCALE.views.components.userForm.moderator %></option>
                            <option value="ADMINISTRATOR" <% if (args.formData.role === 'ADMINISTRATOR') { %>selected<% } %>><%= LOCALE.views.components.userForm.administrator %></option>
                        </select>
                    <% } else { %>
                        <b><%= args.formData.role %></b>
                    <% } %>
                </td>
            </tr>

            <% if (args.formMode !== 'UPDATE') { %>
                <tr>
                    <td><%= LOCALE.views.components.userForm.password %></td>
                    <td>
                        <input name="password" type="password" tabindex="1" size="32">
                        <% if (args.formMode !== 'CREATE') { %><span><%= LOCALE.views.components.userForm.leaveItEmpty %></span><% } %>
                    </td>
                </tr>
            <% } %>
        </table>

        <input type="submit" value="<%= args.formSubmit %>" tabindex="1" size="32">
    </form>
</fieldset>