<%- include('components/head-admin', { paramPageTitle: 'Staff list' }) %>
<body>
    <%- include('fragments/admin-navbar') %>

    <h1 class="tori-page-title">Staff list - Management panel</h1>
    <%- include('fragments/admin-welcome') %>

    <%- include('fragments/admin-tabs') %>

    <table border="1" class="table-list">
        <thead>
        <tr>
            <td>#</td>
            <td>Username</td>
            <td>Email</td>
            <td>Role</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <% users.forEach((user, idx) => { %>
            <tr>
                <td><%= idx + 1 %></td>
                <td><%= user.username %></td>
                <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
                <td><b><%= user.role %></b></td>
                <td>[<a href="/admin/staff/<%= user.id %>">Edit</a>]</td>
            </tr>
        <% }); %>
        </tbody>
    </table>

    <div class="simple-table-pagination">
        <span>
            <% if (currentPage > 0) { %>
                <a href="/admin/staff?page=<%= currentPage - 1 %>">&laquo;</a>
            <% } else { %>
                &laquo;
            <% } %>
        </span>
        &nbsp;
        <span>
            <% if (currentPage < maxPage) { %>
                <a href="/admin/staff?page=<%= currentPage + 1 %>">&raquo;</a>
            <% } else { %>
                &raquo;
            <% } %>
        </span><br>
        [<a href="/admin/staff/new">New staff member</a>]<br>
    </div>

    <%- include('fragments/admin-navbar') %>

    <script type="text/javascript" src="/js/admin.js"></script>

    <%- include('fragments/tori-footer'); %>
</body>