<%- include('components/head-admin', { paramPageTitle: LOCALE.views.admin.spam.spamList }) %>
<body>
<%- include('fragments/admin-navbar') %>

<h1 class="tori-page-title"><%= LOCALE.views.admin.spam.spamList %> - <%= LOCALE.views.constants.managementPanel %></h1>
<%- include('fragments/admin-welcome') %>

<%- include('fragments/admin-tabs') %>


<fieldset class="admin-form">
    <legend><%= LOCALE.views.admin.spam.editSpamList %></legend>
    <form action="/admin/spam" method="post">
        <table class="tori-post-form" width="1%">
            <tr>
                <td><%= LOCALE.views.admin.spam.spam %></td>
                <td><textarea name="spam" tabindex="1" rows="15" cols="33"><%= spam %></textarea></td>
            </tr>
        </table>
        <input type="submit" value="<%= LOCALE.views.constants.save %>" tabindex="1" size="32">
    </form>
</fieldset>

<%- include('fragments/admin-navbar') %>

<script type="text/javascript" src="/js/admin.js"></script>

<%- include('fragments/tori-footer'); %>
</body>