<%- include('components/head-admin', { paramPageTitle: LOCALE.views.admin.listComment.comments }) %>
<body>
    <%- include('fragments/admin-navbar') %>

    <h1 class="tori-page-title"><%= LOCALE.views.admin.listComment.comments %> - <%= LOCALE.views.constants.managementPanel %></h1>
    <%- include('fragments/admin-welcome') %>

    <%- include('fragments/admin-tabs') %>

    <form method="get" action="/admin/comment" style="text-align: center; margin-bottom: 10px">
        <select name="slug">
            <% allBoards.forEach(board => { %>
                <% if (currentBoard) { %>
                    <% if (currentBoard.slug === board.slug) { %>
                        <option selected value="<%= board.slug %>">/<%= board.slug %>/ - <%= board.name %></option>
                    <% } else { %>
                        <option value="<%= board.slug %>">/<%= board.slug %>/ - <%= board.name %></option>
                    <% } %>
                <% } else { %>
                    <option value="<%= board.slug %>">/<%= board.slug %>/ - <%= board.name %></option>
                <% } %>
            <% }) %>
        </select>
        <button type="submit"><%= LOCALE.views.admin.listComment.select %></button>
    </form>

    <table border="1" class="table-list">
        <thead>
        <tr>
            <td>#</td>
            <td><%= LOCALE.views.admin.listComment.createdAt %></td>
            <td><%= LOCALE.views.admin.listComment.ip %></td>
            <td><%= LOCALE.views.admin.listComment.adminPost %></td>
            <td><%= LOCALE.views.admin.listComment.name %></td>
            <td><%= LOCALE.views.admin.listComment.options %></td>
            <td><%= LOCALE.views.admin.listComment.subject %></td>
            <td><%= LOCALE.views.admin.listComment.comment %></td>
            <td><%= LOCALE.views.admin.listComment.file %></td>
            <td><%= LOCALE.views.admin.listComment.link %></td>
            <td><%= LOCALE.views.admin.listComment.delete %></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <% comments.forEach((comment, idx) => { %>
            <tr>
                <td><%= idx + 1 %></td>
                <td><%= comment.createdAt %></td>
                <td><%= comment.ip %></td>
                <td><%= comment.isAdmin %></td>
                <td><%= comment.name %></td>
                <td><%= comment.options %></td>
                <td><%= comment.subject %></td>
                <td><%- comment.comment %></td>
                <td>
                    <% if (comment.attachedFile) { %>
                        <% if (comment.attachedFile.isImage) { %>
                            <a href="/files/<%= comment.boardSlug %>/src/<%= comment.attachedFile.path %>" target="_blank">
                                <img src="/files/<%= comment.boardSlug %>/thumb/<%= comment.attachedFile.thumbnailPath %>" alt="<%= comment.attachedFile.path %>">
                            </a>
                        <% } else { %>
                            <%= LOCALE.views.admin.listComment.file %>: <a href="/files/<%= comment.boardSlug %>/src/<%= comment.attachedFile.path %>"><%= comment.attachedFile.path %></a>
                        <% }%>
                    <% } else { %>——<% } %>
                </td>
                <td>
                    <% if (comment.parentNumber) { %>
                        <a target="_blank" href="/<%= comment.boardSlug %>/res/<%= comment.parentNumber %>#<%= comment.displayNumber %>">
                            /<%= comment.boardSlug %>/res/<%= comment.parentNumber %>#<%= comment.displayNumber %>
                        </a>
                    <% } else { %>
                        <a target="_blank" href="/<%= comment.boardSlug %>/res/<%= comment.displayNumber %>#<%= comment.displayNumber %>">
                            /<%= comment.boardSlug %>/res/<%= comment.displayNumber %>#<%= comment.displayNumber %>
                        </a>
                    <% } %>
                </td>
                <td>
                    <form action="/admin/ban/remove-comment" method="post" id="removeCommentForm">
                        <button
                            type="submit"
                            form="removeCommentForm"
                            name="payload"
                            value="{&quot;mode&quot;:&quot;ONLY_COMMENT&quot;,&quot;commentId&quot;:&quot;<%= comment.id %>&quot;,&quot;ip&quot;:&quot;<%= comment.ip %>&quot;,&quot;redirectAfterDeletion&quot;:&quot;/admin/comment?slug=<%= comment.boardSlug %>&quot;}"
                        >
                            <%= LOCALE.views.admin.listComment.comment %>
                        </button>
                        <button
                            type="submit"
                            form="removeCommentForm"
                            name="payload"
                            value="{&quot;mode&quot;:&quot;ONLY_FILE&quot;,&quot;commentId&quot;:&quot;<%= comment.id %>&quot;,&quot;ip&quot;:&quot;<%= comment.ip %>&quot;,&quot;redirectAfterDeletion&quot;:&quot;/admin/comment?slug=<%= comment.boardSlug %>&quot;}"
                        >
                            <%= LOCALE.views.admin.listComment.file %>
                        </button>
                        <button
                            type="submit"
                            form="removeCommentForm"
                            name="payload"
                            value="{&quot;mode&quot;:&quot;ALL_BY_IP&quot;,&quot;commentId&quot;:&quot;<%= comment.id %>&quot;,&quot;ip&quot;:&quot;<%= comment.ip %>&quot;,&quot;redirectAfterDeletion&quot;:&quot;/admin/comment?slug=<%= comment.boardSlug %>&quot;}"
                        >
                            <%= LOCALE.views.admin.listComment.allOfIp %>
                        </button>
                    </form>
                </td>
                <td>[<a target="_blank" href="/admin/ban/new?ip=<%= comment.ip %>"><%= LOCALE.views.admin.listComment.banThisIP %></a>]</td>
            </tr>
        <% }); %>
        </tbody>
    </table>

    <div class="simple-table-pagination">
        <span>
            <% if (currentPage > 0) { %>
                <% if (currentBoard) { %>
                    <a href="/admin/comment?slug=<%= currentBoard.slug %>&page=<%= currentPage - 1 %>">&laquo;</a>
                <% } %>
            <% } else { %>
                &laquo;
            <% } %>
        </span>
        &nbsp;
        <span>
            <% if (currentPage < maxPage) { %>
                <% if (currentBoard) { %>
                    <a href="/admin/comment?slug=<%= currentBoard.slug %>&page=<%= currentPage + 1 %>">&raquo;</a>
                <% } %>
            <% } else { %>
                &raquo;
            <% } %>
        </span><br>
    </div>

    <%- include('fragments/admin-navbar') %>

    <script type="text/javascript" src="/js/admin.js"></script>

    <%- include('fragments/tori-footer'); %>
</body>