<%- include('components/head-admin', { paramPageTitle: LOCALE.views.constants.managementPanel }) %>
<body>
    <%- include('fragments/admin-navbar') %>

    <h1 class="tori-page-title"><%= LOCALE.views.constants.managementPanel %></h1>
    <%- include('fragments/admin-welcome') %>

    <%- include('fragments/admin-tabs') %>

    <div class="admin-info-panel">
        <table style="margin: 0 auto">
            <tr>
                <td>
                    <p><%- LOCALE.views.admin.home.currently(technicalInfo.totalComments, technicalInfo.totalBoards) %></p>

                    <% if (session.role === 'ADMINISTRATOR') { %>

                        <p><%- LOCALE.views.admin.home.diskSpaceUsed(technicalInfo.diskSpaceUsed) %></p>

                        <h3><%- LOCALE.views.admin.home.technicalInfo %></h3>
                        <ul>
                            <li><%- LOCALE.views.admin.home.uptime %> - <b><%= technicalInfo.uptime %></b></li>
                        </ul>

                        <h5><%- LOCALE.views.admin.home.cpuDetails %> (<%= technicalInfo.cpus.length %>) [<a href="#" id="cpu_toggle"><%- LOCALE.views.admin.home.show %></a>]</h5>
                        <div id="cpu_section" style="display: none">
                            <hr>
                            <% technicalInfo.cpus.forEach((cpu, idx) => { %>
                                <b>CPU #<%= idx + 1 %>:</b>
                                <ul>
                                    <li><%- LOCALE.views.admin.home.model %> - <b><%= cpu.model %></b></li>
                                    <li><%- LOCALE.views.admin.home.speed %> - <b><%= cpu.speed %></b></li>
                                    <li><%- LOCALE.views.admin.home.userTime %> - <b><%= cpu.times.user %></b></li>
                                    <li><%- LOCALE.views.admin.home.systemTime %> - <b><%= cpu.times.sys %></b></li>
                                    <li><%- LOCALE.views.admin.home.niceTime %> - <b><%= cpu.times.nice %></b></li>
                                    <li><%- LOCALE.views.admin.home.idleTime %> - <b><%= cpu.times.idle %></b></li>
                                    <li><%- LOCALE.views.admin.home.irqTime %> - <b><%= cpu.times.irq %></b></li>
                                </ul>
                            <% }); %>
                            <hr>
                        </div>

                        <p><%- LOCALE.views.admin.home.memoryUsage %></p>
                        <ul>
                            <li><%- LOCALE.views.admin.home.total %> - <b><%= technicalInfo.memory.total %></b></li>
                            <li><%- LOCALE.views.admin.home.free %> - <b><%= technicalInfo.memory.inUsage  %></b></li>
                            <li><%- LOCALE.views.admin.home.inUse %> - <b><%= technicalInfo.memory.free %></b></li>
                        </ul>

                        <p><%- LOCALE.views.admin.home.debugPort %> <b><%= technicalInfo.debugPort %></b> (<%- LOCALE.views.admin.home.nodeJsDebugGuide %>)</p>
                        <p><%- LOCALE.views.admin.home.appPort %> <b><%= technicalInfo.port %></b></p>

                        <p><abbr title='<%- LOCALE.views.admin.home.dockerContainerId %>'><%- LOCALE.views.admin.home.hostName %></abbr>: <b><%= technicalInfo.host %></b></p>

                        <h3>Node.js</h3>
                        <p>
                            <a href='https://nodejs.org/' target='_blank'>Node.js</a> <%- LOCALE.views.admin.home.version %> - <b>v<%= technicalInfo.processVersions.node %></b>
                        </p>

                        <h5><%- LOCALE.views.admin.home.nodeDetails %></h5>
                        <ol>
                            <% Object.keys(technicalInfo.processVersions).forEach(proc => { %>
                                <li><%= proc %>: <b><%= technicalInfo.processVersions[proc] %></b></li>
                            <% }); %>
                        </ol>

                        <h3>PostgreSQL</h3>
                        <p><a href='https://www.postgresql.org/' target='_blank'>PostgreSQL</a> <%- LOCALE.views.admin.home.version %>: <b><%= technicalInfo.postgresVersion %></b></p>

                        <h3><%- LOCALE.views.admin.home.dependencies %></h3>

                        <ul>
                            <% Object.keys(technicalInfo.dependencies).forEach(dependency => { %>
                                <li><a href="https://www.npmjs.com/package/<%= dependency %>" target="_blank">
                                        <%= dependency %>
                                    </a>: <b><%= technicalInfo.dependencies[dependency] %></b></li>
                            <% }); %>
                        </ul>

                        <h3><%- LOCALE.views.admin.home.devDependencies %></h3>

                        <ul>
                            <% Object.keys(technicalInfo.devDependencies).forEach(dependency => { %>
                                <li><a href="https://www.npmjs.com/package/<%= dependency %>" target="_blank">
                                        <%= dependency %>
                                    </a>: <b><%= technicalInfo.devDependencies[dependency] %></b></li>
                            <% }); %>
                        </ul>
                    <% } %>
                </td>
            </tr>
        </table>
    </div>

    <%- include('fragments/admin-navbar') %>

    <script type="text/javascript" src="/js/admin.js"></script>

    <%- include('fragments/tori-footer'); %>
</body>