<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="nofollow">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("fragments/styles-admin"); %>
    <%- include('fragments/tori-script') %>
    <title>New ban - <%- templateConstants.siteName() %></title>
</head>
<body>
<%- include('fragments/admin-navbar') %>

<h1 class="tori-page-title">New ban - Management panel</h1>
<%- include('fragments/admin-welcome') %>

<%- include('fragments/admin-tabs') %>

<fieldset class="admin-form">
    <legend>Create new ban</legend>
    [<a href="/admin/ban">Go back</a>]

    <form action="/admin/ban/new" method="post">
        <table class="tori-post-form" width="1%">
            <tr>
                <td>IP</td>
                <td><input name="ip" type="text" tabindex="1" size="32" required <% if (ip) { %>value="<%= ip %>" <% } %>></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input name="till" type="number" tabindex="1" size="40" required value="3" min="1">
                    <select name="durationType">
                        <option value="MINUTES">Minutes</option>
                        <option value="HOURS">Hours</option>
                        <option value="DAYS" selected>Days</option>
                        <option value="MONTHS">Months</option>
                        <option value="YEARS">Years</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Reason</td>
                <td><textarea name="reason" tabindex="1" rows="5" cols="33"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="Ban user" tabindex="1" size="32">
    </form>
</fieldset>

<%- include('fragments/admin-navbar') %>

<script type="text/javascript" src="/js/admin.js"></script>

<%- include('fragments/tori-footer'); %>
</body>