<%- include('components/head-admin', { paramPageTitle: 'Spam list' }) %>
<body>
<%- include('fragments/admin-navbar') %>

<h1 class="tori-page-title">Spam list - Management panel</h1>
<%- include('fragments/admin-welcome') %>

<%- include('fragments/admin-tabs') %>


<fieldset class="admin-form">
    <legend>Edit spam list</legend>
    <form action="/admin/spam" method="post">
        <table class="tori-post-form" width="1%">
            <tr>
                <td>Spam</td>
                <td><textarea name="spam" tabindex="1" rows="15" cols="33"><%= spam %></textarea></td>
            </tr>
        </table>
        <input type="submit" value="Save" tabindex="1" size="32">
    </form>
</fieldset>

<%- include('fragments/admin-navbar') %>

<script type="text/javascript" src="/js/admin.js"></script>

<%- include('fragments/tori-footer'); %>
</body>