<%- include('components/head-admin', { paramPageTitle: args.formDescription }) %>
<body>
    <%- include('fragments/admin-navbar') %>

    <h1 class="tori-page-title"><%= args.formDescription %> - <%= LOCALE.views.constants.managementPanel %></h1>
    <%- include('fragments/admin-welcome') %>

    <%- include('fragments/admin-tabs') %>

    <fieldset class="admin-form">
        <legend><%= args.formDescription %></legend>
        [<a href="/admin/board"><%= LOCALE.views.constants.goBack %></a>]

        <form action="<%= args.formHandler %>" method="post">
            <table class="tori-post-form" width="1%">
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.slug %></td>
                    <td>
                        <input
                            name="slug"
                            type="text"
                            tabindex="1"
                            size="32"
                            required
                            <% if (args.formMode !== 'CREATE') { %>value="<%= args.formData.slug %>" <% } %>
                        >
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.name %></td>
                    <td>
                        <input
                            name="name"
                            type="text"
                            tabindex="1"
                            size="32"
                            required
                            <% if (args.formMode !== 'CREATE') { %>value="<%= args.formData.name %>" <% } %>
                        >
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.visible %></td>
                    <td>
                        <input
                            name="visible"
                            type="checkbox"
                            tabindex="1"
                            <% if (args.formMode !== 'CREATE' && args.formData.visible) { %>checked<% } %>
                            <% if (args.formMode === 'CREATE') { %>checked<% } %>
                        >
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.description %></td>
                    <td>
                        <textarea name="description" cols="33" rows="11" required><% if (args.formMode !== 'CREATE') { %><%= args.formData.description %><% } %></textarea>
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.allowPosting %></td>
                    <td>
                        <input
                            name="allowPosting"
                            type="checkbox"
                            tabindex="1"
                            <% if (args.formMode !== 'CREATE' && args.formData.allowPosting) { %>checked<% } %>
                            <% if (args.formMode === 'CREATE') { %>checked<% } %>
                        >
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.strictAnonymity %></td>
                    <td>
                        <input
                            name="strictAnonymity"
                            type="checkbox"
                            tabindex="1"
                            <% if (args.formMode !== 'CREATE' && args.formData.strictAnonymity) { %>checked<% } %>
                        >
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.threadFileAttachmentMode %></td>
                    <td>
                        <select name="threadFileAttachmentMode" required>
                            <option value="STRICT" <% if (args.formMode !== 'CREATE' && args.formData.threadFileAttachmentMode === 'STRICT') { %>selected<% } %>><%= LOCALE.views.admin.editBoard.strict %></option>
                            <option value="OPTIONAL" <% if (args.formMode !== 'CREATE' && args.formData.threadFileAttachmentMode === 'OPTIONAL') { %>selected<% } %><% if (args.formMode === 'CREATE') { %>selected<% } %>><%= LOCALE.views.admin.editBoard.optional %></option>
                            <option value="FORBIDDEN" <% if (args.formMode !== 'CREATE' && args.formData.threadFileAttachmentMode === 'FORBIDDEN') { %>selected<% } %>><%= LOCALE.views.admin.editBoard.forbidden %></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.replyFileAttachmentMode %></td>
                    <td>
                        <select name="replyFileAttachmentMode" required>
                            <option value="STRICT" <% if (args.formMode !== 'CREATE' && args.formData.replyFileAttachmentMode === 'STRICT') { %>selected<% } %>><%= LOCALE.views.admin.editBoard.strict %></option>
                            <option value="OPTIONAL" <% if (args.formMode !== 'CREATE' && args.formData.replyFileAttachmentMode === 'OPTIONAL') { %>selected<% } %><% if (args.formMode === 'CREATE') { %>selected<% } %>><%= LOCALE.views.admin.editBoard.optional %></option>
                            <option value="FORBIDDEN" <% if (args.formMode !== 'CREATE' && args.formData.replyFileAttachmentMode === 'FORBIDDEN') { %>selected<% } %>><%= LOCALE.views.admin.editBoard.forbidden %></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.delayAfterThread %></td>
                    <td>
                        <input type="number" value="<% if (args.formMode !== 'CREATE') { %><%= args.formData.delayAfterThread %><% } else { %>30<% } %>" name="delayAfterThread" min="0" required>, <%= LOCALE.views.admin.editBoard.seconds %>.
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.delayAfterReply %></td>
                    <td>
                        <input type="number" value="<% if (args.formMode !== 'CREATE') { %><%= args.formData.delayAfterReply %><% } else { %>15<% } %>" name="delayAfterReply" min="0">, <%= LOCALE.views.admin.editBoard.seconds %>.
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.minFileSize %></td>
                    <td>
                        <input type="number" value="<% if (args.formMode !== 'CREATE') { %><%= args.formData.minFileSize %><% } else { %>1<% } %>" name="minFileSize" min="0">, <%= LOCALE.views.admin.editBoard.bytes %>.
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.maxFileSize %>/td>
                    <td>
                        <input type="number" value="<% if (args.formMode !== 'CREATE') { %><%= args.formData.maxFileSize %><% } else { %>3145728<% } %>" name="maxFileSize" min="0">, <%= LOCALE.views.admin.editBoard.bytes %>.
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.allowMarkdown %> [<abbr title="<%= LOCALE.views.admin.editBoard.allowMarkdownExplanation %>">?</abbr>]</td>
                    <td>
                        <input
                            name="allowMarkdown"
                            type="checkbox"
                            tabindex="1"
                            <% if (args.formMode !== 'CREATE' && args.formData.allowMarkdown) { %>checked<% } %>
                            <% if (args.formMode === 'CREATE') { %>checked<% } %>
                        >
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.allowTripcodes %></td>
                    <td>
                        <input
                             name="allowTripcodes"
                             type="checkbox"
                             tabindex="1"
                             <% if (args.formMode !== 'CREATE' && args.formData.allowTripcodes) { %>checked<% } %>
                        >
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.maxThreadsOnBoard %></td>
                    <td>
                        <input type="number" value="<% if (args.formMode !== 'CREATE') { %><%= args.formData.maxThreadsOnBoard %><% } else { %>100<% } %>" name="maxThreadsOnBoard" min="0">
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.bumpThread %></td>
                    <td>
                        <input type="number" value="<% if (args.formMode !== 'CREATE') { %><%= args.formData.bumpLimit %><% } else { %>250<% } %>" name="bumpLimit" min="0">
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.maxStringFieldSize %> [<abbr title="<%= LOCALE.views.admin.editBoard.maxStringFieldSizeExplanation %>">?</abbr>]</td>
                    <td>
                        <input type="number" name="maxStringFieldSize" min="0" value="<% if (args.formMode !== 'CREATE') { %><%= args.formData.maxStringFieldSize %><% } else { %>100<% } %>">
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.maxCommentSize %></td>
                    <td>
                        <input type="number" name="maxCommentSize" min="0" value="<% if (args.formMode !== 'CREATE') { %><%= args.formData.maxCommentSize %><% } else { %>2048<% } %>">
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.maxThreadLivingTime %></td>
                    <td>
                        <input type="number" name="maxThreadLivingTime" min="0" value="<% if (args.formMode !== 'CREATE') { %><%= args.formData.maxThreadLivingTime %><% } else { %>86400000<% } %>">, <%= LOCALE.views.admin.editBoard.milliseconds %>
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.defaultPosterName %></td>
                    <td>
                        <input type="text" name="defaultPosterName" value="<% if (args.formMode !== 'CREATE') { %><%= args.formData.defaultPosterName %><% } else { %>Anonymous<% } %>" placeholder="Anonymous" required>
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.defaultModeratorName %></td>
                    <td>
                        <input type="text" name="defaultModeratorName" value="<% if (args.formMode !== 'CREATE') { %><%= args.formData.defaultModeratorName %><% } else { %>Moderator<% } %>"  placeholder="Moderator" required>
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.enableCaptcha %></td>
                    <td>
                        <input
                            name="enableCaptcha"
                            type="checkbox"
                            tabindex="1"
                            <% if (args.formMode !== 'CREATE' && args.formData.enableCaptcha) { %>checked<% } %>
                        >
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.isCaptchaCaseSensitive %></td>
                    <td>
                        <input
                                name="isCaptchaCaseSensitive"
                                type="checkbox"
                                tabindex="1"
                                <% if (args.formMode !== 'CREATE' && args.formData.isCaptchaCaseSensitive) { %>checked<% } %>
                        >
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.rules %></td>
                    <td>
                        <textarea name="rules" cols="33" rows="11" required><% if (args.formMode !== 'CREATE') { %><%= args.formData.rules %><% } else {%><ul class="rules"></ul><% } %></textarea>
                    </td>
                </tr>
                <tr>
                    <td><%= LOCALE.views.admin.editBoard.allowedFileTypes %></td>
                    <td>
                        <%- include('components/admin-file-type-picker') %>
                    </td>
                </tr>
            </table>
            <input type="submit" value="<%= LOCALE.views.admin.editBoard.saveChanges %>" tabindex="1" size="32">
        </form>
    </fieldset>

    <hr>

    <% if (args.formMode !== 'CREATE') { %>
        <div class="admin-danger">
            <div class="header"><%= LOCALE.views.constants.dangerZone %></div>
            <p>
                <%- LOCALE.views.admin.editBoard.dangerZoneExplanation(args.formData.name) %>
            </p>

            <form action="/admin/board/<%= args.formData.slug %>/delete" method="post">
                <input type="submit" value="<%= LOCALE.views.admin.editBoard.deleteBoard(args.formData.name) %>">
            </form>
        </div>
    <% } %>

    <%- include('fragments/admin-navbar') %>

    <script type="text/javascript" src="/js/admin.js"></script>

    <%- include('fragments/tori-footer'); %>
</body>