<%- include('components/head-admin', { paramPageTitle: LOCALE.views.admin.editBan.newBan }) %>
<body>
<%- include('fragments/admin-navbar') %>

<h1 class="tori-page-title"><%= LOCALE.views.admin.editBan.newBan %> - <%= LOCALE.views.constants.managementPanel %></h1>
<%- include('fragments/admin-welcome') %>

<%- include('fragments/admin-tabs') %>

<fieldset class="admin-form">
    <legend><%= LOCALE.views.admin.editBan.createNewBan %></legend>
    [<a href="/admin/ban"><%= LOCALE.views.constants.goBack %></a>]

    <form action="/admin/ban/new" method="post">
        <table class="tori-post-form" width="1%">
            <tr>
                <td><%= LOCALE.views.admin.editBan.ip %></td>
                <td><input name="ip" type="text" tabindex="1" size="32" required <% if (ip) { %>value="<%= ip %>" <% } %>></td>
            </tr>
            <tr>
                <td><%= LOCALE.views.admin.editBan.duration %></td>
                <td>
                    <input name="till" type="number" tabindex="1" size="40" required value="3" min="1">
                    <select name="durationType">
                        <option value="MINUTES"><%= LOCALE.views.admin.editBan.minutes %></option>
                        <option value="HOURS"><%= LOCALE.views.admin.editBan.hours %></option>
                        <option value="DAYS" selected><%= LOCALE.views.admin.editBan.days %></option>
                        <option value="MONTHS"><%= LOCALE.views.admin.editBan.months %></option>
                        <option value="YEARS"><%= LOCALE.views.admin.editBan.years %></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><%= LOCALE.views.admin.editBan.reason %></td>
                <td><textarea name="reason" tabindex="1" rows="5" cols="33"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="<%= LOCALE.views.admin.editBan.banUser %>" tabindex="1" size="32">
    </form>
</fieldset>

<%- include('fragments/admin-navbar') %>

<script type="text/javascript" src="/js/admin.js"></script>

<%- include('fragments/tori-footer'); %>
</body>