<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="nofollow">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/torichan.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
    <%- include('fragments/tori-script') %>
    <title>Bans - <%- templateConstants.siteName %></title>
</head>
<body>
<%- include('fragments/admin-navbar') %>

<h1 class="tori-page-title">Bans - Management panel</h1>
<%- include('fragments/admin-welcome') %>

<%- include('fragments/admin-tabs') %>

<table border="1" class="table-list">
    <thead>
    <tr>
        <td>#</td>
        <td>Banned by</td>
        <td>IP</td>
        <td>Created at</td>
        <td>Banned till</td>
        <td>Ban reason</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <% bans.forEach((ban, idx) => { %>
        <tr>
            <td><%= idx + 1 %></td>
            <td><% if (ban.user) { %><a href="mailto:<%= ban.user.email %>"><%= ban.user.username %></a><% } else { %>——<% } %></td>
            <td><%= ban.ip %></td>
            <td><%= ban.createdAt %></td>
            <td><%= ban.till %></td>
            <td><%= ban.reason %></td>
            <td><form action="/admin/ban/<%= ban.id %>/delete" method="post"><button type="submit">Delete</button></form></td>
        </tr>
    <% }); %>
    </tbody>
</table>

<div class="simple-table-pagination">
    <span>
        <% if (currentPage > 0) { %>
            <a href="/admin/board?page=<%= currentPage - 1 %>">&laquo;</a>
        <% } else { %>
            &laquo;
        <% } %>
    </span>
    &nbsp;
    <span>
        <% if (currentPage < maxPage) { %>
            <a href="/admin/board?page=<%= currentPage + 1 %>">&raquo;</a>
        <% } else { %>
            &raquo;
        <% } %>
    </span><br>
    [<a href="/admin/ban/new">New ban</a>]<br>
</div>

<%- include('fragments/admin-navbar') %>

<script type="text/javascript" src="/js/admin.js"></script>

<%- include('fragments/tori-footer'); %>
</body>