<%- include('components/head-admin', { paramPageTitle: 'SQL Console' }) %>
<body>
    <%- include('fragments/admin-navbar') %>

    <h1 class="tori-page-title"><%= LOCALE.views.admin.sqlConsole.sqlConsole %> - <%= LOCALE.views.constants.managementPanel %></h1>
    <%- include('fragments/admin-welcome') %>

    <%- include('fragments/admin-tabs') %>


    <fieldset class="admin-form">
        <legend><%= LOCALE.views.admin.sqlConsole.runSql %></legend>
        [<a href="/admin/sql"><%= LOCALE.views.admin.sqlConsole.clear %></a>]

        <form action="/admin/sql" method="post">
            <table class="tori-post-form" width="1%">
                <tr>
                    <td>SQL</td>
                    <td><textarea name="query" tabindex="1" rows="15" cols="33"><% if (query) { %><%= query %><% } %></textarea></td>
                </tr>
            </table>
            <input type="submit" value="<%= LOCALE.views.admin.sqlConsole.runQuery %>" tabindex="1" size="32">
        </form>
    </fieldset>

    <% if (queryResult) { %>
        <% if (queryResult.length > 0) { %>
            <table border="1" class="table-list">
                <thead>
                <tr>
                    <% Object.keys(queryResult[0]).forEach(key => { %>
                        <td><%= key %></td>
                    <% }); %>
                </tr>
                </thead>
                <tbody>
                <% queryResult.forEach(record => { %>
                    <tr>
                        <% Object.keys(record).forEach(key => { %>
                            <td><%= record[key] %></td>
                        <% }); %>
                    </tr>
                <% }); %>
                </tbody>
            </table>

            <form action="/admin/sql/save" method="post" class="download-result">
                <input type="hidden" name="query" value="<%= query %>">
                <button type="submit"><%= LOCALE.views.admin.sqlConsole.saveQueryResult %></button>
            </form>
        <% } %>
    <% } %>

    <%- include('fragments/admin-navbar') %>

    <script type="text/javascript" src="/js/admin.js"></script>

    <%- include('fragments/tori-footer'); %>
</body>