<%- include('components/head-admin', { paramPageTitle: LOCALE.views.admin.listBoard.boards }) %>
<body>
<%- include('fragments/admin-navbar') %>

<h1 class="tori-page-title"><%= LOCALE.views.admin.listBoard.boards %> - <%= LOCALE.views.constants.managementPanel %></h1>
<%- include('fragments/admin-welcome') %>

<%- include('fragments/admin-tabs') %>

<table border="1" class="table-list">
    <thead>
    <tr>
        <td>#</td>
        <td><%= LOCALE.views.admin.listBoard.slug %></td>
        <td><%= LOCALE.views.admin.listBoard.name %></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <% boards.forEach((board, idx) => { %>
        <tr>
            <td><%= idx + 1 %></td>
            <td><a target="_blank" href="/<%= board.slug %>">/<%= board.slug %>/</a></td>
            <td><%= board.name %></td>
            <td>[<a href="/admin/board/<%= board.id %>"><%= LOCALE.views.constants.edit %></a>]</td>
        </tr>
    <% }); %>
    </tbody>
</table>

<div class="simple-table-pagination">
    <span>
        <% if (currentPage > 0) { %>
            <a href="/admin/board?page=<%= currentPage - 1 %>">&laquo;</a>
        <% } else { %>
            &laquo;
        <% } %>
    </span>
    &nbsp;
    <span>
        <% if (currentPage < maxPage) { %>
            <a href="/admin/board?page=<%= currentPage + 1 %>">&raquo;</a>
        <% } else { %>
            &raquo;
        <% } %>
    </span><br>
    [<a href="/admin/board/new"><%= LOCALE.views.admin.listBoard.newBoard %></a>]<br>
</div>

<%- include('fragments/admin-navbar') %>

<script type="text/javascript" src="/js/admin.js"></script>

<%- include('fragments/tori-footer'); %>
</body>