<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="nofollow">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("fragments/styles-admin"); %>
    <%- include('fragments/tori-script') %>
    <title>IP Filter - <%- templateConstants.siteName %></title>
</head>
<body>
    <%- include('fragments/admin-navbar') %>

    <h1 class="tori-page-title">IP Filter - Management panel</h1>
    <%- include('fragments/admin-welcome') %>

    <%- include('fragments/admin-tabs') %>


    <fieldset class="admin-form">
        <legend>IP Whitelist</legend>
        <form action="/admin/filter/whitelist" method="post">
            <table class="tori-post-form" width="1%">
                <tr>
                    <td>Whitelist</td>
                    <td><textarea name="ipList" tabindex="1" rows="15" cols="33"><%= whiteList %></textarea></td>
                </tr>
            </table>
            <input type="submit" value="Save" tabindex="1" size="32">
        </form>
    </fieldset>

    <fieldset class="admin-form">
        <legend>IP Whitelist</legend>
        <form action="/admin/filter/blacklist" method="post">
            <table class="tori-post-form" width="1%">
                <tr>
                    <td>Blacklist</td>
                    <td><textarea name="ipList" tabindex="1" rows="15" cols="33"><%= blackList %></textarea></td>
                </tr>
            </table>
            <input type="submit" value="Save" tabindex="1" size="32">
        </form>
    </fieldset>

    <%- include('fragments/admin-navbar') %>

    <script type="text/javascript" src="/js/admin.js"></script>

    <%- include('fragments/tori-footer'); %>
</body>