<%- include('components/head-admin', { paramPageTitle: LOCALE.views.admin.editUser.editUser }) %>
<body>
    <%- include('fragments/admin-navbar') %>

    <h1 class="tori-page-title"><%= LOCALE.views.admin.editUser.editUser %> - <%= LOCALE.views.constants.managementPanel %></h1>
    <%- include('fragments/admin-welcome') %>

    <%- include('fragments/admin-tabs') %>

    <%- include('components/user-form', { args: args }) %>

    <hr>

    <% if (args.formMode !== 'CREATE') { %>
        <div class="admin-danger">
            <div class="header"><%= LOCALE.views.constants.dangerZone %></div>
            <p>
                <%- LOCALE.views.admin.editUser.dangerZoneExplanation(args.formData.username) %>
            </p>

            <form action="/admin/staff/<%= args.formData.id %>/delete" method="post">
                <input type="submit" value="<%= LOCALE.views.admin.editUser.deleteUser(args.formData.username) %>">
            </form>
        </div>
    <% } %>

    <%- include('fragments/admin-navbar') %>

    <script type="text/javascript" src="/js/admin.js"></script>

    <%- include('fragments/tori-footer'); %>
</body>