<%- include('components/head-board') %>
<body>
    <% if (session) { %>
        <form action="/admin/ban/remove-comment" method="post" id="removeCommentForm"></form>
    <% } %>

    <%- include('fragments/tori-navbar'); %>

    <h1 class="tori-page-title">/<%= board.slug %>/ - <%= board.name %></h1>

    <hr class="tori-above-post-form">

    <% if (board.allowPosting) { %>
        <div class="tori-posting-form">
            <fieldset>
                <legend><%= LOCALE.views.board.modeThread %></legend>

                <form id="posting_form" action="/<%= board.slug %>/post" method="post" enctype="multipart/form-data">
                    <% if (board.enableCaptcha) { %>
                        <input type="hidden" name="nya" value="<%= captcha.text %>">
                    <% } %>

                    <table class="tori-post-form" width="1%">
                        <% if (!board.strictAnonymity) { %>
                            <tr>
                                <td><%= LOCALE.views.board.name %></td>
                                <td>
                                    <input name="name" type="text" tabindex="1" placeholder="<% if (session) { %><%= LOCALE.views.board.moderator %><% } else { %><%= LOCALE.views.board.anonymous %><% } %>" size="32">
                                    <% if (session) { %><label><input type="checkbox" name="isAdmin" checked><%= LOCALE.views.board.markMeAsAdmin %></label><% } %>
                                </td>
                            </tr>
                        <% } else { %>
                            <% if (session) { %>
                                <tr>
                                    <td><%= LOCALE.views.board.name %></td>
                                    <td><label><input type="checkbox" name="isAdmin" checked><%= LOCALE.views.board.markMeAsAdmin %></label></td>
                                </tr>
                            <% } %>
                        <% } %>
                        <tr>
                            <td><%= LOCALE.views.board.options %></td>
                            <td><input name="options" type="text" tabindex="1" size="32"></td>
                        </tr>
                        <tr>
                            <td><%= LOCALE.views.board.subject %></td>
                            <td><input name="subject" type="text" tabindex="1" size="27"><input type="submit" value="<%= LOCALE.views.board.post %>"></td>
                        </tr>
                        <tr>
                            <td><%= LOCALE.views.board.comment %></td>
                            <td><textarea name="comment" tabindex="1" rows="11" cols="33"></textarea></td>
                        </tr>
                        <% if (board.threadFileAttachmentMode !== 'FORBIDDEN') { %>
                            <tr>
                                <td><%= LOCALE.views.board.file %></td>
                                <td><input name="file" type="file" tabindex="1" size="8"></td>
                            </tr>
                        <% } %>
                        <% if (board.enableCaptcha) { %>
                            <tr>
                                <td><%= LOCALE.views.board.captcha %></td>
                                <td>
                                    <%- captcha.data %>
                                    <input type="text" name="captcha" size="16">
                                    <% if (session) { %><br><%= LOCALE.views.board.skipCaptcha %><% } %>
                                </td>
                            </tr>
                        <% } %>
                        <tr>
                            <td><%= LOCALE.views.board.password %></td>
                            <td><input
                                        name="password"
                                        type="password"
                                        tabindex="1"
                                        size="8"
                                        value="<%= password %>"
                                > <%= LOCALE.views.board.passwordExplanation %></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="rules">
                                <ul class="rules">
                                    <% if (board.threadFileAttachmentMode !== 'FORBIDDEN') { %>
                                        <li><%- LOCALE.views.board.ruleImageSize(board.maxFileSize) %></li>
                                        <li><%- LOCALE.views.board.ruleThumbnail %></li>
                                    <% } %>
                                    <li><%- LOCALE.views.board.moderatorIsAlwaysRight %></li>
                                    <li><%- LOCALE.views.board.pleaseReadTheRules %></li>
                                </ul>
                                <%- board.rules %>
                            </td>
                        </tr>
                    </table>
                </form>
            </fieldset>
        </div>
    <% } %>

    <form action="/<%= board.slug %>/delete" method="post">
        <div class="board">
            <% threads.forEach(thread => { %>
                <%- include('components/thread', { thread: thread }); %>
            <% }); %>
            <hr>
        </div>

        <div class="delete-form">
            <%- LOCALE.views.board.deletePost %> [<label><%- LOCALE.views.board.fileOnly %> <input type="checkbox" name="fileOnly"></label>]<br>
            <%- LOCALE.views.board.password %> <input
                    type="password"
                    tabindex="1"
                    size="8"
                    value="<%= password %>"
                    name="password"
            ><input type="submit" value="<%= LOCALE.views.board.delete %>"><br>
        </div>
    </form>

    <div class="tori-page-list">
        <% if (currentPage === 0) { %>
            [<%= LOCALE.views.board.previous %>]
        <% } else { %>
             <form method="get" action="/<%= board.slug %>/<%= currentPage - 1 %>"><button><%= LOCALE.views.board.previous %></button></form>
        <% } %>
        <% for (let i = 0; i <= maxPage; i++) { %>
            [<a href="/<%= board.slug %>/<%= i %>"><%= i %></a>]
        <% } %>
        <% if (currentPage < maxPage) { %>
            <form method="get" action="/<%= board.slug %>/<%= currentPage + 1 %>"><button><%= LOCALE.views.board.next %></button></form>
        <% } else { %>
            [<%= LOCALE.views.board.next %>]
        <% } %>
    </div>
    <br clear="all">
    <%- include('fragments/tori-footer'); %>
</body>
</html>
