<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="nofollow">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("fragments/styles-start"); %>
    <%- include('fragments/tori-script') %>
    <title><%- templateConstants.siteName %></title>
</head>
<body>
    <%- include('fragments/tori-navbar'); %>
    <br clear="all">

    <h1 class="tori-title"><%- templateConstants.siteName %></h1>
    <em style="text-align: center; display: block; font-size: 14pt"><%- templateConstants.siteSlogan %></em>
    <p class="tori-main-links">
        [<a href="/rules">global rules</a>] / [<a href="/admin">management</a>] / [<a href="https://github.com/d-indifference/torichan">torichan 0.0.1</a>]
    </p>

    <%- include('fragments/tori-navbar'); %>
    <br clear="all">

    <%- include('fragments/tori-footer') %>
</body>
</html>
